.app {
  text-align: center;
}

.app ul {
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinning {
    animation: spin-full infinite 20s linear;
  }
}

@keyframes spin-full {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
