.app {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  max-width: 660px;
  padding: 0 10px 10px 10px;
  text-align: center;
}

.app ol,
.app ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.app ol li {
  margin: 5px 0;
}

.app .container-matchlist,
.app .container-matchlist .container-match {
  border: 1px solid #000;
  padding: 5px;
}

.app .container-matchlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  overflow-x: hidden;
  overflow-y: auto;
  /* width: 750px; */
}

.app .container-matchlist .container-match {
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .spinning {
    animation: spin-full infinite 20s linear;
  }
}

@keyframes spin-full {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
